.row.footer
  footer
    .container-fluid
      .row
        .col-md-6
          span.logo Alif Enterprise
          p Copyrights &amp;#169 Alif Enterprise
        .col-md
          .address
            h3 Contact Details
            p Office: Modina Market (1st &amp; 4th Floor), Muradpur, Chittagong.
            p Tel: 01996545215
          .social--media
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter