extends base

block content

  #about.row.about
    .col-md-5.welcome
      div
        span Welcome to Alif Enterprise
    .col-md.welcome--message
      div
        p.h3
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          | Similique optio aspernatur quae soluta natus, repellendus sequi
          | labore illo. Ducimus quo enim necessitatibus ad rem amet numquam
          | quaerat obcaecati, temporibus excepturi.
  #potfolio.row.potfolio
    span Project Highlights
    .container-fluid
      .row
        .col-sm-6
          .project
            div
              h3.h-3 Project Title
              p.p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                | Voluptas in facilis beatae sequi dicta, doloribus quo quas
                | ad voluptates ducimus dolore, iure iusto veniam molestias
                | quod nam nulla obcaecati vel!
        .col-sm
          .project
            div
              h3.h-3 Project Title
              p.p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                | Voluptas in facilis beatae sequi dicta, doloribus quo quas
                | ad voluptates ducimus dolore, iure iusto veniam molestias
                | quod nam nulla obcaecati vel!
      .row
        .col-sm-6
          .project
            div
              h3.h-3 Project Title
              p.p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                | Voluptas in facilis beatae sequi dicta, doloribus quo quas
                | ad voluptates ducimus dolore, iure iusto veniam molestias
                | quod nam nulla obcaecati vel!
        .col-sm
          .project
            div
              h3.h-3 Project Title
              p.p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                | Voluptas in facilis beatae sequi dicta, doloribus quo quas
                | ad voluptates ducimus dolore, iure iusto veniam molestias
                | quod nam nulla obcaecati vel!
      .row
        .col-sm-6
          .project
            div
              h3.h-3 Project Title
              p.p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                | Voluptas in facilis beatae sequi dicta, doloribus quo quas
                | ad voluptates ducimus dolore, iure iusto veniam molestias
                | quod nam nulla obcaecati vel!
        .col-sm
          .project
            div
              h3.h-3 Project Title
              p.p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                | Voluptas in facilis beatae sequi dicta, doloribus quo quas
                | ad voluptates ducimus dolore, iure iusto veniam molestias
                | quod nam nulla obcaecati vel!
