extends base

block content

  .form.form--table
    .row.align-content-center
      .col-md.d-flex.justify-content-center.form--el__search
        form.form.form__search--ledger.form-group.m-3.px-3.mt-5.b-2.border.border-danger(action='')
          h2.text-center.form-text#headertext
            | Search for Party informatio *Date From, *Name of Party, *Name of Branch
          .ledger--info
            label.mb-0.m-1.form-label.text-wrap(for='branchname') Name of Branch*:
            select#branchid.form-select.form-control.m-1(required='')
              option(selected='') Select Branch
              each branch in branchs
                option(value=`${branch._id}`)=branch.name 
            label.mb-0.m-1.form-label.text-wrap(for='from') Date from*:
            input#from.form-control.m-1(type='date')
            label.mb-0.m-1.form-label.text-wrap(for='to') Date to*:
            input#to.form-control.m-1(type='date')
          a#searchledger.m-3.btn.btn-danger print
