extends base 

block content 

  .container-fluid.form--branch__view(style='width:95%')
    .row.mt-1.align-content-center.print--footer
      .col.d-flex.justify-content-end
        button.mb-5.btn.btn-dark.btn-print--branchReport Print Report
