extends base

block content 

  //- .spinner 
  //-   .rect1
  //-   .rect2
  //-   .rect3
  //-   .rect4
  //-   .rect5

  .form.form--table
    .row.align-content-center
      .col-md.d-flex.justify-content-center.form__purchase--views
        form.form.form__purchase--view.form-group.m-3.px-3.mt-5.b-2.border.border-danger(action='')
          h2.text-center.form-text
            | Purchase: you must need a Branch, Ledger, Date, one or more Items